body {
    background-color: bisque;
}

h1,
p {
    text-align: center;
}

.selections-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

div {
    text-align: center;
    margin-top: 10px;
}

button {
    width:100px;
}